doctype
html
    head
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css")
    title= title

    body 
        h1 Advanced Node And Express
        p #{message}
